<h1>Restaurants</h1>
<%= link_to "New Restaurant", new_restaurant_path %>


<%= form_tag restaurants_path, :method => 'get' do %>
  <br>
  <p>Search Restaurants</p>
  <p>Name:
    <%= text_field_tag :search, params[:search] %> </p>
  <p>Location:
    <%= text_field_tag :location, params[:location] %></p>
  <p>Cuisine:
    <%= text_field_tag :cuisine, params[:cuisine] %></p>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<% @found_restaurants.each do |restaurant| %>
<h2><%= link_to "#{restaurant.name}", restaurant %></h2>
<p><%= restaurant.location.capitalize %>, <%= restaurant.cuisine.capitalize %> </p>
<% end %>
